@import "../index.module.css";

.tradeMark {
  padding: 0;
  margin: 0;
  grid-row: 1;
  background-color: var(--green);
}

.footer {
  z-index: -1;
  bottom: 0;
}

.footerNavbar {
  padding: 0;
  margin: 0;
  grid-row: 1;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 200px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.navOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
}

.containerOptions {
  max-width: 800px;
  color: var(--white);
  margin: 60px;
}

.headLine {
  height: 300px;
  background-color: var(--orange);
}
