@import "../index.module.css";

.petCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px 5px 0 0;
  height: 300px;
  border-radius: 5px;
  border: 1px solid var(--gray);
}

.petCard:first-child {
  margin: 5px 5px 0 0;
}

.petPhoto {
  border-radius: 5px;
  width: 100%;
  height: 250px;
}

.petNoPhoto {
  background-image: url(../images/no_image.png);
  background-position: 50% 0;
  background-repeat: no-repeat;  
  background-size: 100px;
  border-radius: 5px;
  width: 100%;
  height: 250px;
}

.petName {
  top: -20%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 50px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background: var(--white);
  text-transform: uppercase;
  font-size: 1.25rem;
  color: var(--green);
  font-weight: bold;
}

.cardLink:link {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .petCard {
    width: 200px;
  }

  .petCard:nth-child(4n) {
    margin: 5px 0 0 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .petCard {
    width: 200px;
  }

  .petCard:nth-child(4n) {
    margin: 5px 0 0 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .petCard {
    width: 208px;
  }

  .petCard:nth-child(3n) {
    margin: 5px 0 0 0;
  }
}

@media (min-width: 650px) and (max-width: 767px) {
  .petCard {
    width: 208px;
  }

  .petCard:nth-child(3n) {
    margin: 5px 0 0 0;
  }
}

@media (min-width: 536px) and (max-width: 649px) {
  .petCard {
    width: 210px;
  }

  .petCard:nth-child(2n) {
    margin: 5px 0 0 0;
  }
}

@media (max-width: 535px) {
  .petCard {
    width: 210px;
    margin: 5px 0 0 0;
  }

  .petCard:first-child {
    margin: 5px 0 0 0;
  }
}
