@import "../index.module.css";

.systemNavbar {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  grid-row: 1;
  background-color: var(--green);
}

.servicesNavbar {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 110px;
  background-color: var(--black);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.navOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  margin-top: 10px;
}

.signOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
}

.containerOptions {
  max-width: 800px;
}

.navItem {
  margin: 10px 5px;
}

.navLink {
  color: var(--white);
  text-decoration: none;
  margin: 3px;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .containerOptions {
    width: 823px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .containerOptions {
    width: 823px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .containerOptions {
    width: 640px;
  }
}

@media (min-width: 650px) and (max-width: 767px) {
  .containerOptions {
    width: 640px;
  }
}

@media (min-width: 536px) and (max-width: 649px) {
  .containerOptions {
    width: 80%;
  }
}

@media (max-width: 535px) {
  .containerOptions {
    width: 80%;
  }

  .servicesNavbar {
    height: 175px;
  }
}
